{% extends "base.html" %} {% block title %}Student Class Assignments {% endblock %} 
{% block content %}

<style>
  .form-group.required .col-form-label:after {
    content: "*";
    color: red;
  }

  .dataTables_filter{ 
    display:none;
  }
</style>

<div class="container-fluid mt-4 mb-4 p-2 bg-primary text-white rounded">
  <h3><span style="font-weight:100">Student Class</span>&nbsp;<span style="font-weight: 700"></span>Assignments</span>
  </h3>
</div>

<div class="row g-3" style='background-color: #eee;'>

  <!-- Semester Filter -->
  <div class="col-md-3 required">
    <div class="form-floating">
      <select class="form-select" name=student_semester_filter id=student_semester_filter aria-label="Semester">
        <option value=-1>All</option>
        {% for semester in semesters %}
        <option value={{semester.id}}>{{semester.name}}</option>
        {% endfor %}
      </select>
      <label for="student_semester_filter">Semester</label>
    </div>
  </div>

  <!-- Campus Filter -->
  <div class="col-md-3 required">
    <div class="form-floating">
      <select class="form-select" name=student_campus_filter id=student_campus_filter aria-label="Semester">
        <option value=-1 >All</option>
        {% for campus in campuses %}
        <option value={{campus.id}}>{{campus.name}}</option>
        {% endfor %}
      </select>
      <label for="student_campus_filter">Campus</label>
    </div>
  </div>

  <!-- Instrument Filter -->
  <div class="col-md-3 ">
    <div class="form-floating">
      <select class="form-select" name=student_instrument_type_filter id=student_instrument_type_filter
        aria-label="Select Instrument Type">
        <option value=-1>All</option>
        {% for type in instrument_types %}
        <option value="{{type.id}}">{{type.name}}</option>
        {% endfor %}
      </select>
      <label for="student_instrument_type_filter">Instrument</label>
    </div>
  </div>

  <!-- Global Filter -->
  <div class="col-md-3 ">
    <div class="form-floating">
      <input type='text' class="form-control" name=global_search id=global_search>
      <label for=email>Search All</label>
    </div>
  </div>
</div>
<form method="POST">

  <!-- Table -->
  <table id=class-assignment-table class='table table-striped col-md-12'>
    <thead id="table-head">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Semester</th>
        <th>Campus</th>
        <th>1<sup>st</sup> Choice</th>
        <th>2<sup>nd</sup> Choice</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody id="table-body">
      <!-- Show only one semester at a time -->
      {% for semester in semesters%}
        {% for student_semester in semester.student_semesters %}
        <tr>
          <td>{{ student_semester.student.first_name }}</td>
          <td>{{ student_semester.student.last_name }}</td>
          <td>{{ student_semester.semester.name }}</td>
          <td>{{ student_semester.campus.name }}</td>
          <td>{{ student_semester.instrument_type_1.name | default('') }}</td>
          <td>{{ student_semester.instrument_type_2.name | default('') }}</td>
          <td>
            <select 
              data-student_id="{{ student_semester.student.id }}" 
              data-initial-value="{% if student_semester.student.classes_enrolled | length >0 %}{{ student_semester.student.classes_enrolled[0].class_id }}{% endif %}" 
              class="form-select student-class-selector" 
              name="table_class_selector"
              id='table_class_selector_{{student_semester.student.id}}'
              aria-label="Select Class">
              <option 
                {% if student_semester.student.classes_enrolled | length %} 
                  value='{"student_semester_id":{{student_semester.id}},"class_id":-1,"old_class_id":{{student_semester.student.classes_enrolled[0].class_id}}}'
                {% else %}
                  value='{"student_semester_id":{{student_semester.id}},"class_id":-1,"old_class_id":-1}'
                {% endif %}
                >~ Select ~</option>
                {% for class_ in classes %}
                  {% if student_semester.student.classes_enrolled | length %}
                    <option
                      {% if class_.course.id == student_semester.student.classes_enrolled[0].class_id %}selected{%endif%} 
                      value='{"student_semester_id":{{student_semester.id}},"class_id":{{class_.id}},"old_class_id":{{student_semester.student.classes_enrolled[0].class_id}} }'
                    >{{ class_.course.name }}</option>
                  {% else %}
                    <option
                      value='{"student_semester_id":{{student_semester.id}},"class_id":{{class_.id}},"old_class_id":-1 }'
                    >{{ class_.course.name }}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</form>
<br/>
<div class="row g-3" >
  <div style= 'border:1px solid #ccc;' class="col-md-3 ">
    <div class='tally' id=class_-1>0</div>
    <div>Unassigned</div>
  </div>  
  {% for class_ in classes %}
  <div style= 'border:1px solid #ccc;' class="col-md-3 ">
    <div class='tally' id=class_{{class_.id}}>0</div>
    <div>{{class_.room.campus.name}}<br/>{{class_.course.name}}</div>
  </div>
  {% endfor%}
</div>

<h4>ToDo:</h4>
<ul>
  <li>Prettify</li>
</ul>
{% endblock %}

{% block scripts %} 
<script>
  $(document).ready(function () {
    var table = $('#class-assignment-table').DataTable(
      {
        paging: false,
        scrollY: 200,
      }
    );
    tally();
  });

  // handle class value change
  $('.student-class-selector').change(function () {
    tally();
  });

  function tally(){
    // clearall
    $('.tally').text(0);
    $('.student-class-selector').each(function() {
      v = $(this).val();
      j = JSON.parse(v);
      class_id = j.class_id;
      div = $('#class_'+class_id);
      class_count=parseInt(div.html())
      class_count +=1;
      div.html(class_count);
    });
  }

  


  // Handle Semester Filter
  $('#student_semester_filter').change(function () {
    var semester_id = $(this).value;
    if(semester_id < 0 ) return;
    var semester_name = $(this).find("option:selected").text();

    table = $('#class-assignment-table').DataTable()
    table
      .columns(2)
      .search(semester_name)
      .draw();
  });

  // Handle Campus Filter
  $('#student_campus_filter').change(function () {
    var CAMPUS_COL = 3;
    var campus_name =''
    var campus_id = this.value;

    if(campus_id > 0 )  {
      campus_name = $(this).find("option:selected").text();
    }
    $('#class-assignment-table').DataTable()
      .columns(CAMPUS_COL)
      .search(campus_name)
      .draw();
  });

  // Handle Instrument Filter
  $('#student_instrument_type_filter').change(function (e) {
    var INSTRUMENT_COL = 4
    var instrument_type_name =''
    var instrument_type_id = this.value;
    if(instrument_type_id > 0 )  {
      instrument_type_name = $(this).find("option:selected").text();
    }
    $('#class-assignment-table').DataTable()
      .columns(INSTRUMENT_COL)
      .search(instrument_type_name)
      .draw();
  });

  // Handle Global Search
  $('#global_search').on( 'keyup', function () {
    $('#class-assignment-table').DataTable().search(this.value).draw();
  });

</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
{% endblock %}