<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    rel="stylesheet" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
    crossorigin="anonymous">
  <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light container" style="padding:0;" aria-label="navbar">
    <div class="container-fluid" style="background-color: #ddd; padding:8px;">
      <a class="navbar-brand" href="#">Pick &amp; Bow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        {% if user.is_authenticated %}
        <!-- Home -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item  me-2">
            <a class="btn btn-outline-primary active" href="/" data-abc="true">Home</a>
          </li>
          <!-- Student Menu -->
          <li class="me-2">
            <div class="btn-group">
              <a type="button" class="btn btn-outline-primary" href="/students">Students</a>
              <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/students">List Students</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('views.student_new')}}">Add Student</a></li>
                <li><a class="dropdown-item disabled " href="#">Import Students</a></li>
              </ul>
            </div>
          </li>
          <!-- Instrument Menu -->
          <li class="me-2">
            <div class="btn-group">
              <a type="button" class="btn btn-outline-primary" href="/instruments">Instruments</a>
              <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/instruments">List Instruments</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/checkouts">List Checkouts</a></li>
                <li><a class="dropdown-item" href="#">Check Out Instrument</a></li>
                <li><a class="dropdown-item" href="#">Return Instrument</a></li>
                <li><a class="dropdown-item" href="#">Add Instrument to Inventory</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <!-- Right side of menu -->
        <form class="d-flex">
            <a class="btn btn-outline-primary me-2" href="/Fill">DB.Init</a>
          <a class="btn btn-outline-primary me-2" id="logout" href="/logout">Log&nbsp;Out</a>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% else %}
        <li class="nav-item">
          <a class="nav-item nav-link" id="login" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
        </li>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container" style='background-color:#eee; padding-top: 10px'>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-error alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;{{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif category == 'warning' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;{{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="bi bi-check-circle-fill"></i>&nbsp;{{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <br />
    {% block content %} {% endblock %}
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <!-- Always remember to call the above files first before calling the bootstrap.min.js file -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>

  <script type="text/javascript">
    $(function () {
      $('.date').datepicker({
        todayBtn: "linked",
        clearBtn: true,
        autoclose: true,
        format: 'mm/dd/yyyy'
      });
    });
  </script>

</body>

</html>