{% extends "base.html" %} {% block title %}Checkouts{% endblock %} {% block content %}
<!-- Header -->
<div class="d-flex bg-primary text-white rounded">
  <div class="p-1 flex-grow-1 bd-highlight">
    <h3><span style="font-weight:100">List</span>&nbsp;<span style="font-weight: 700"></span>Checkouts</span></h3>
  </div>
  <div class="p-1">
    <div class="rounded" style="background-color:#ddd;padding:1px">
      <a href="{{ url_for('views.checkout_new')}}" type="button" class="btn btn-outline-success" data-bs-toggle="tooltip"
        data-bs-placement="left" title="Checkout an Instrument">
        <span aria-hidden="true"><i class="bi bi-plus-circle"></i></span>
      </a>
    </div>
  </div>
</div>


<table id=checkout-table class='table table-striped'>
  <thead id="table-head">
  <tr>
    <th>Student</th>
    <th>Instrument</th>
    <th>Out</th>
    <th>Out Condition</th>
    <th>Due</th>
    <th>Returned</th>
    <th>Return Condition</th>
    <th>Return Location</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody id="table-body">
    {% for student in students %}
      {% for checkout in student.checkouts %}
        <tr>
          <td><a href="{{ url_for('views.student_edit',id=student.id)}}">{{ student.first_name }} {{ student.last_name }}</a></td>
          <td><a href="{{ url_for('views.instrument_edit', id=checkout.instrument.id)}}">{{ checkout.instrument.tag}}: {{ checkout.instrument.type.name }}</a></td>
          <td>{{ checkout.checkout_date }}</td>
          <td>{{ checkout.checkout_condition.name }}</td>
          <td>{{ checkout.due_date }}</td>
          <td>{{ checkout.return_date }}</td>
          <td>{{ checkout.return_condition.name }}</td>
          <td>{{ checkout.return_location }}</td>

          <td>
            <a class="mr-2" href="{{ url_for('views.checkout_edit',id=checkout.id)}}">Return</a>
          </td>


        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
<br />
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        To Do List
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <li>Auth protect page</li>
          <li>List</li>
            <ul>
              <li>replace "Return" with view, edit, delete</li>
              <li>overdue notice</li>
              <li>Sort</li>
              <li>Filter</li>
            </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}