{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}


<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        To Do List
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <li>Menu</li>
            <ul>
              <li>Highlight "current"</li>
              <li>Role based menu items</li>
              <li>Implement Global Search</li>
            </ul> 
          <li>User Management</li>
            <ul>
              <li>Register new user (fix looping)</li>
              <li>user profile (name, etc)</li>
              <li>user role management</li>
            </ul>
          <li>What should go here on the landing page</li>
          <li>Publish. (To AWS?)</li>
          <li>Can I use readonly editer?</li>
          <li><del>Menu: Push Logout and Search items to the right</del></li>
          <li><del>Flash: style the close button</del></li>
      </div>
    </div>
  </div>
</div>

{% endblock %}
