{% extends "base.html" %} {% block title %}Instrument{% endblock %} {% block content %}


<div class="d-flex justify-content-between bg-primary text-white rounded p-2">
  <h3>
    <span style="font-weight:100">
      {% if readonly==True %}
        View
      {% elif instrument.id %}
      Edit
      {% else %}
        New
      {% endif %}</span>
    <span style="font-weight: 700">Instrument</span>
  </h3>
  {% if instrument.id is not none and readonly != true%}
  <div>
    <div class="rounded wrap">
      <a href="{{ url_for('views.checkout_new',instrument_id=instrument.id)}}" type="button"
        class="btn btn-outline-success">
        <span aria-hidden="true"><i class="bi bi-check2-circle"></i>&nbsp;Checkout</span>
      </a>
    </div>
    <div class="rounded wrap">
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete">
        <span><i class="bi bi-trash"></i>&nbsp;Delete</span>
      </button>
    </div>
  </div>
  {% endif %}
</div>
<br />


<form class="row g-3" style='background-color: #eee;' method="POST">

  <!-- Tag -->
  <div class="col-md-4 required">
    <div class="form-floating mb-3">
      <input type="text" required class="form-control" id="instrument_tag" name="instrument_tag" placeholder="Ex: F1"
        value="{% if instrument.tag %} {{ instrument.tag }} {% endif %}">
      <label for="instrument_tag">Tag Number *</label>
    </div>
  </div>
  
  <!-- Type -->
  <div class="col-md-4 required">
    <div class="form-floating">
      <select class="form-select" name=instrument_type id=instrument_type aria-label="Select Instrument Type">
        <option>Select</option>
        {% for type in instrument_types %}
        <option {% if instrument.type_id == type.id %} selected {% endif %} value="{{type.id}}">{{type.name}}</option>
        {% endfor %}
      </select>
      <label for="instrument_type">Type</label>
    </div>
  </div>

  <!-- Size -->
  <div class="col-md-4 required">
    <div class="form-floating">
      <select class="form-select" name=instrument_size id=instrument_size aria-label="Floating label select example">
        {% for size in instrument_sizes %}
        <option {% if instrument.size_id == size.id %} selected {% endif %} value="{{size.id}}">{{size.name}}</option>
        {% endfor %}
      </select>
      <label for="instrument_size">Size</label>
    </div>
  </div>

  <!-- Serial Number -->
  <div class="col-md-4 required">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="instrument_serial" name="instrument_serial" placeholder="Ex: ABC123"
        value="{% if instrument.serial %} {{ instrument.serial }} {% endif %}">
      <label for="instrument_serial">Serial Number</label>
    </div>
  </div>
  
  <!-- Brand -->
  <div class="col-md-4 required">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="instrument_brand" name="instrument_brand" placeholder="Ex: ABC123"
        value="{% if instrument.brand %} {{ instrument.brand }} {% endif %}">
      <label for="instrument_brand">Brand</label>
    </div>
  </div>


  <!-- Model -->
  <div class="col-md-4 required">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="instrument_model" name="instrument_model" placeholder="Ex: ABC123"
        value="{% if instrument.model %} {{ instrument.model }} {% endif %}">
      <label for="instrument_model">Model</label>
    </div>
  </div>

  <!-- Status -->
  <div class="col-md-3 required">
    <div class="form-floating">
      <select class="form-select" name=instrument_status id=instrument_status aria-label="Floating label select example">
        {% for status in instrument_statuses %}
        <option {% if instrument.status_id == status.id %} selected {% endif %} value="{{status.id}}">{{status.name}}</option>
        {% endfor %}
      </select>
      <label for="instrument_status">Status</label>
    </div>
  </div>  
  
  <!-- Condition -->
  <div class="col-md-3 required">
    <div class="form-floating">
      <select class="form-select" name=instrument_condition id=instrument_condition aria-label="Floating label select example">
        {% for condition in instrument_conditions %}
        <option {% if instrument.condition_id == condition.id %} selected {% endif %} value="{{condition.id}}">{{condition.name}}</option>
        {% endfor %}
      </select>
      <label for="instrument_condition">Instrument Condition</label>
    </div>
  </div>

  <!-- Location -->
  <div class="col-md-3 required">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="instrument_location" name="instrument_location" placeholder="Ex: ABC123"
        value="{% if instrument.location %} {{ instrument.location }} {% endif %}">
      <label for="instrument_location">Location</label>
    </div>
  </div>

<!-- Value -->
  <div class="col-md-3 required">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="instrument_value" name="instrument_value" placeholder="Ex: ABC123"
        value="{% if instrument.value %} {{ instrument.value }} {% endif %}">
      <label for="instrument_value">$ Est'd Value</label>
    </div>
  </div>

  <!-- Notes -->
  <div class="col-md-12 required">
    <div class="form-floating mb-3">
      <textarea class="form-control" id="instrument_notes" name="instrument_notes" placeholder="Ex: ABC123">{% if instrument.notes %}{{ instrument.notes }}{% endif %}</textarea>
      <label for="instrument_notes">Notes</label>
    </div>
  </div>


  
  {% if instrument.id %}

  <!-- Checkouts -->
  <div class="col-md-12 form-group required">
    <h5> Checkout History</h5>
      <table id=checkout-table class='table table-striped'>
      <thead id="table-head" class='bg-secondary text-white '>
        <tr>
          <th >Checked Out</th>
          <th >Tag</th>
          <th class="d-none d-sm-table-cell">Type</th>
          <th class="d-none d-md-table-cell"> Out Condition</th>
          <th>Due</th>
          <th>Returned</th>
          <th class="d-none d-md-table-cell">In Condition</th>
          <th class="d-none d-md-table-cell">Returned To</th>
          <th class="d-none d-md-table-cell">Notes</th>

          <th style="width:0%; padding:0;">
            <div class="p-1" >
              <div class="rounded" style="background-color:#eee;padding:1px">
                <a href="{{ url_for('views.checkout_new',instrument_id=instrument.id)}}" type="button" class="btn btn-outline-success btn-sm" 
                data-bs-toggle="tooltip" title="Checkout An Instrument">
                  <span aria-hidden="true"><i class="bi bi-plus-circle"></i></span>
                </a>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody id="table-body">
        {% for checkout in instrument.checkouts %}
        <tr>
          <td style="white-space:nowrap">{{ checkout.checkout_date }}</td>
          <td><b><a style="text-decoration-line:none"
                href="{{ url_for('views.instrument_edit', id=checkout.instrument.id)}}">{{ checkout.instrument.tag
                }}</a></b></td>
          <td class="d-none d-sm-table-cell">{{ checkout.instrument.type.name }}</a></td>
          <td class="d-none d-md-table-cell">{{ checkout.checkout_condition.name }}</td>
          <td>{{ checkout.due_date }}</td>
          <td>{{ checkout.return_date }}</td>
          <td class="d-none d-md-table-cell">{{ checkout.return_condition.name }}</td>
          <td class="d-none d-md-table-cell">{{ checkout.return_location }}</td>
          <td class="d-none d-md-table-cell">{{ checkout.Notes }}</td>
          <td><b><a style="text-decoration-line:none" href="{{ url_for('views.checkout_edit',id=checkout.id)}}">Return</a></b></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}



  <br />
  <button type="submit" class="btn btn-primary col-md-1">Submit</button>
</form>
<hr/>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        To Do List
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <li>Edit Mode</li>
          <ul>
            <li>Add a delete button</li>
            <li>confirm delete dlg</li>
            <li>fix flash says instrument added </li>
            <li>save fields value and notes </li>
            <li>List</li>
            <ul>
              <li>Fix condition field</li>
              <li>view, edit, delete</li>
            </ul>
          </ul>
          <li>New Mode</li>
          <ul>
            <li>Build it</li>
          </ul>
      </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}