{% extends "base.html" %} {% block title %}Students{% endblock %} {% block content %}

<!-- Header -->
<div class="d-flex bg-primary text-white rounded">
  <div class="p-1 flex-grow-1 bd-highlight">
    <h3><span style="font-weight:100">List</span>&nbsp;<span style="font-weight: 700"></span>Students</span></h3>
  </div>
  <div class="p-1">
    <div class="rounded" style="background-color:#ddd;padding:1px">
      <a href="{{ url_for('views.student_new')}}" type="button" class="btn btn-outline-success" data-bs-toggle="tooltip"
        data-bs-placement="left" title="Add Student">
        <span aria-hidden="true"><i class="bi bi-plus-circle"></i></span>
      </a>
    </div>
  </div>
</div>

<!-- Table -->
<table id=checkout-table class='table table-striped'>
  <thead id="table-head">
    <tr>
      <th>exid</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Checked Out</th>
      <th style="text-align:right">Actions</th>
    </tr>
  </thead>
  <tbody id="table-body">
    {% for student in students %}
    <tr>
      <td><a href="{{ url_for('views.student_edit',id=student.id)}}">{{ student.external_id }}</a></td>
      <td>{{ student.first_name }}</td>
      <td>{{ student.last_name }}</td>
      <td>{{ student.email}}</td>
      <td>
        {% for checkout in student.checkouts%}
        <a href="{{ url_for('views.checkout_edit', id=checkout.id)}}">{{ checkout.instrument.tag}}:{{ checkout.instrument.type.name }}</a>
        {% endfor %}
      </td>



      <td style="text-align:right">
        <a href="{{ url_for('views.student_view',id=student.id)}}" type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <span aria-hidden="true"><i class="bi bi-eye"></i></span>
        </a>

        <a href="{{ url_for('views.student_edit',id=student.id)}}" type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
          <span aria-hidden="true"><i class="bi bi-pencil"></i></span>
        </a>

        <button type="button" onClick="deleteStudent({{ student.id }})" class="btn btn-outline-danger btn-sm"  data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
          <span><i class="bi bi-x-circle"></i></span>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="confirm_delete" class="modal">
  <div class="modal-body">
    Are you sure?
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
    <button type="button" data-dismiss="modal" class="btn" id="cancel">Cancel</button>
  </div>
</div>
<br/>
<h4>ToDo:</h4>
<ul>
  <li>List: Delete are you sure</li>
  <li>List: Flash on delete fail w/ meaningful msg</li>
  <li>List: Auth protect delete and edit</li>
  <li>List: Sort</li>
  <li>List: Search</li>
  <li><del>Add Student: Float right</del></li>
  <li><del>Add Student: Links to student_new</del></li>
  <li><del>Add Student: Style the button</li>
  <li><del>List: View Student Button</del></li>
  <li><del>List: Edit Student Button</del></li>
  <li><del>List: Delete Student Button</del></li>
  <li><del>List: Flash on delete success w/ message</del></li>
</ul>

<script>
  // $('button[name="remove_levels"]').on('click', function (e) {
  //   var $form = $(this).closest('form');
  //   e.preventDefault();
  //   $('#confirm_delete').modal({
  //     backdrop: 'static',
  //     keyboard: false
  //   })
  //     .on('click', '#delete', function (e) {
  //       deleteStudent(9)
  //     });
  //   $("#cancel").on('click', function (e) {
  //     e.preventDefault();
  //     $('#confirm_delete').modal.model('hide');
  //   });
  // });
</script>

{% endblock %}