{% extends "base.html" %} {% block title %}Student{% endblock %} {% block
content %}

<div class="d-flex bg-primary text-white rounded">
  <div class="p-1 flex-grow-1 bd-highlight">
    <h3>
      <span style="font-weight:100">
        {% if student.id is none %} New {% else %} Edit {% endif %}
      </span>
      <span style="font-weight: 700">Student</span>
    </h3>
  </div>
  {% if student.id is not none %}
  <div class="p-1">
    <div class="rounded" style="background-color:#ddd;padding:1px">
      <button type="button" onClick="deleteStudent({{ student.id }})" class="btn btn-outline-danger"
        data-bs-toggle="tooltip" data-bs-placement="left" title="Delete this student">
        <span><i class="bi bi-x-circle"></i></span>
      </button>
      </a>
    </div>
  </div>
  {% endif %}
</div>
<br />
<form class="row g-3" disabled="disabled" method="POST">

  <!-- First Name -->
  <div class="col-md-4 required">
    <div class="form-floating mb-3">
      <input type='text' class="form-control" name=first_name id=first_name required
        value="{% if student.first_name %}{{student.first_name}}{% endif %}">
      <label for=first_name>First Name</label>
    </div>
  </div>

  <!-- Last Name -->
  <div class="col-md-4 required">
    <div class="form-floating mb-3">
      <input type='text' class="form-control" name=last_name id=last_name required
        value="{% if student.last_name %}{{student.last_name}}{% endif %}">
      <label for=last_name>Last Name</label>
    </div>
  </div>

  <!-- Birthday -->
  <div class="col-md-4 required">
    <div class="form-floating mb-3">
      <input type='date' class="form-control" name=checkout_date id=checkout_date required
        value="{{ student.birthday }}">
      <label for=checkout_date>Birthday</label>
    </div>
  </div>

    <!-- Email -->
    <div class="col-md-4 required">
      <div class="form-floating mb-3">
        <input type='text' class="form-control" name=email id=email required
          value="{% if student.email %}{{student.email}}{% endif %}">
        <label for=email>Email</label>
      </div>
    </div>


    <!-- Phone -->
    <div class="col-md-4 required">
      <div class="form-floating mb-3">
        <input type='text' class="form-control" name=phone id=phone required
          value="{% if student.phone %}{{student.phone}}{% endif %}">
        <label for=email>Phone</label>
      </div>
    </div>

        <!-- Address -->
        <div class="col-md-4 required">
          <div class="form-floating mb-3">
            <textarea class="form-control" name=address id=address required style="height:100%;"
              rows=3> {% if student.address %}{{student.address | replace(",","\n")}}{% endif %}</textarea>
            <label for=email>Address</label>
          </div>
        </div>
    
  {% if student.id %}

  <!-- Semesters -->
  <div class="col-md-12 form-group required">
    <table id=semester-table class='table'>
      <thead id="table-head">
        <tr>
          <th colspan=4>Instrument Checkouts</th>
          <th colspan=2 style="text-align:right;">New</th>
        </tr>
        <tr>

          <th>Signup</th>
          <th>Semester</th>
          <th>Campus</th>
          <th>Shirt</th>
          <th>Behave</th>
          <th>Photo</th>
          <th>Hardship</th>
        </tr>
      </thead>
      <tbody id="table-body">
        {% for stusem in student.semesters %}
        <tr>
          <td>{{ stusem.signup_date }}</td>
          <td>{{ stusem.semester.name }}</td>
          <td>{{ stusem.campus.name }}</td>
          <td>{{ stusem.shirt_size }}</td>
          <td>{{ stusem.behavior_agreement }}</td>
          <td>{{ stusem.photo_permission }}</td>
          <td>{{ stusem.hardship_requested }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Checkouts -->
  <div class="col-md-12 form-group required">
    <table id=student-table class='table table-striped'>
      <thead id="table-head">
        <tr>
          <th colspan=4>Instrument Checkouts</th>
          <th colspan=2 style="text-align:right;">New</th>
        </tr>
        <tr>
          <th>Checked Out</th>
          <th>Tag</th>
          <th>Type</th>
          <th>Out Condition</th>
          <th>Due</th>
          <th>Returned</th>
          <th>Due</th>
          <th>In Condition</th>
          <th>Returned To</th>
          <th>Notes</th>
          <th>?</th>

        </tr>
      </thead>
      <tbody id="table-body">
        {% for checkout in student.checkouts %}
        <tr>
          <td>{{ checkout.checkout_date }}</td>
          <td><b><a style="text-decoration-line:none"
                href="{{ url_for('views.instrument_edit', id=checkout.instrument.id)}}">{{ checkout.instrument.tag
                }}</a></b></td>
          <td>{{ checkout.instrument.type.name }}</a></td>
          <td>{{ checkout.checkout_condition }}</td>
          <td>{{ checkout.due_date }}</td>
          <td>{{ checkout.return_date }}</td>
          <td>{{ checkout.return_condition }}</td>
          <td>{{ checkout.return_location }}</td>
          <td>{{ checkout.Notes }}</td>
          <td><b><a style="text-decoration-line:none"
                href="{{ url_for('views.checkout_edit',id=checkout.id)}}">Return</a></b></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  <br />
  <div class="col-md-2 form-group ">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<br />
<h4>ToDo:</h4>
<ul>
  <li>Edit Mode: Add a delete button</li>
  <li>Add Mode: Flash a nice message</li>
  <li>Prettify</li>
  <li>Add more fields</li>
  <li>Auth protect page</li>
  <li>Auth protect delete</li>
  <li>List: placeholder if none</li>
  <li>Try floating label</li>
  <li><del>Google API to sync with google sheets</del></li>
</ul>

{% endblock %}