{% extends "base.html" %} {% block title %}Student{% endblock %} {% block
content %}

<div class="container-fluid mt-4 mb-4 p-2 bg-primary text-white rounded">
  <h3><span style="font-weight:100">{% if student.id is none %} New {% else %} Edit {% endif %}</span>&nbsp;<span
      style="font-weight: 700"></span>Student</span></h3>
</div>

<form class="row g-3" disabled="disabled" method="POST">




  <!-- First Name -->
  <div class="col-md-6 form-group required">
    <label for="first_name_group" class="col-form-label">First Name</label>
    <div class="input-group" id=first_name_group>
      <span class="input-group-text">
        <i class="bi bi-person-fill"></i>
      </span>
      <input required type="text" class="form-control" id="first_name" name="first_name"
        value="{% if student.first_name %}{{student.first_name}}{% endif %}" />
    </div>
  </div>

  <!-- Last Name -->
  <div class="col-md-6 form-group required">
    <label for="last_name_group" class="col-form-label">Last Name</label>
    <div class="input-group" id=first_name_group>
      <span class="input-group-text">
        <i class="bi bi-person-fill"></i>
      </span>
      <input required type="text" class="form-control" id="last_name" name="last_name"
        value="{% if student.last_name %}{{student.last_name}}{% endif %}" />
    </div>
  </div>

  <!-- Email -->


  <!-- Email -->
  <div class="col-md-12 form-group required">
    <label for="email_group" class="col-form-label">Email</label>
    <div class="input-group" id=email_group>
      <span class="input-group-text">
        @
      </span>
      <input required type="text" class="form-control" id="email" name="email"
        value="{% if student.last_name %}{{student.email}}{% endif %}" />
    </div>
  </div>

  {% if student.id %}

  <!-- Checkouts -->
  <div class="col-md-12 form-group required">
    <table id=student-table class='table table-striped'>
      <thead id="table-head">
        <tr>
          <th colspan=4>Instrument Checkouts</th>
          <th colspan=2 style="text-align:right;">New</th>
        </tr>
        <tr>
          <th>Checked Out</th>
          <th>Tag</th>
          <th>Type</th>
          <th>Out Condition</th>
          <th>Due</th>
          <th>Returned</th>
          <th>Due</th>
          <th>In Condition</th>
          <th>Returned To</th>
          <th>Notes</th>
          <th>?</th>

        </tr>
      </thead>
      <tbody id="table-body">
        {% for checkout in student.instruments %}
        <tr>
          <td>{{ checkout.checkout_date }}</td>
          <td><b><a style="text-decoration-line:none"
                href="{{ url_for('views.instrument_edit', id=checkout.instrument.id)}}">{{ checkout.instrument.tag
                }}</a></b></td>
          <td>{{ checkout.instrument.type.name }}</a></td>
          <td>{{ checkout.checkout_condition }}</td>
          <td>{{ checkout.due_date }}</td>
          <td>{{ checkout.return_date }}</td>
          <td>{{ checkout.return_condition }}</td>
          <td>{{ checkout.return_location }}</td>
          <td>{{ checkout.Notes }}</td>
          <td><b><a style="text-decoration-line:none" href="{{ url_for('views.checkout_list')}}">Return</a></b></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  <br />
  <div class="col-md-2 form-group ">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<br />
<h4>ToDo:</h4>
<ul>
  <li><del>New: Fields are blank</del></li>
  <li><del>Email icon</del></li>
  <li>Try floating label</li>
</ul>

{% endblock %}